fields:
  source: node-metrics

metricbeat.modules:

- module: system
  metricsets: ["cpu", "diskio", "filesystem", "fsstat", "load", "memory", "network", "process_summary", "socket_summary", "uptime"]
  enabled: true
  period: 30s
  processes: ['.*']
  cpu.metrics:  ["normalized_percentages"]
  core.metrics: ["percentages"]

- module: docker
  metricsets: ["cpu", "diskio", "healthcheck", "info", "memory", "network"]
  cpu.cores: false
  hosts: ["unix:///var/run/docker.sock"]
  period: 30s

#- module: docker
#  metricsets:
#  - container
#  hosts: ["unix:///var/run/docker.sock"]
#  period: 1m

output.console:
  enabled: ${ES_METRICBEAT_OUTPUT_CONSOLE:false}
  pretty: false

output.elasticsearch:
  enabled: ${ES_METRICBEAT_OUTPUT_ELASTICSEARCH:false}
  hosts: ${ES_METRIBEAT_OUTPUT_CONFIG_ELASTICSEARCH_HOSTS:'elasticsearch:9200'}

setup.kibana.host: ${ES_METRICBEAT_OUTPUT_CONFIG_KIBANA_HOST:"kibana:5601"}
setup.dashboards.enabled: ${ES_METRICBEAT_OUTPUT_CONFIG_KIBANA_DASHBOARDS:false}

output.kafka:
  enabled: ${ES_METRICBEAT_OUTPUT_KAFKA:false}
  hosts: ${ES_METRICBEAT_OUTPUT_CONFIG_KAFKA_HOSTS:"kafka:9092"}
  topic: '${ES_METRICBEAT_OUTPUT_CONFIG_KAFKA_TOPIC:es_filebeat_kafka}'
  version: "2.0.0"
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000

logging.level: warning
logging.metrics.enabled: false
logging.metrics.period: 30s
logging.json: false
